.home-container {
  max-width: auto;
  margin: 40px auto;
  padding: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 80px;
  color: rgba(255,255,255,0.8);
}

.home-container p{
  text-align: center;
  margin-bottom: 35px;
  font-size: 25px;
  font-weight:bold;
  color: rgb(255,255,255);
}

form,
.meal-list,
.suggestions {
  margin-bottom: 40px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  margin-right:10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input, select {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  color: #555;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .home-container {
    padding: 15px;
  }

  input, select {
    width: 100%;
    margin-bottom: 15px;
  }
}
